<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="active">
        <th>Data</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.date.strftime('%d/%m/%Y') %></td>
        <td><%= payment.description %></td>
        <td><%= valor_formatado payment.value %></td>
        <td><%= link_to 'Editar', edit_payment_path(payment), class: 'btn btn-default'%></td>
        <td><%= link_to 'Excluir', payment_delete_path(payment), remote:true, class: 'btn btn-danger'%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
