<div class="table-responsive">
  <table class="table table-hover">
    <thead>
     <tr class="active">
       <th>#</th>
       <th>Data</th>
       <th>Descrição</th>
       <th>Valor a pagar</th>
       <th>Valor Total</th>
       <th>Pago</th>
       <th>&nbsp</th>
       <th>&nbsp</th>
     </tr>
   </thead>
     <tbody>
       <% @expenses.each do |expense| %>
        <tr id="expense">
          <td><%= expense.id %></td>
          <td><%= expense.date.strftime('%d/%m/%Y') %></td>
          <td><%= expense.description %></td>
          <td><%= valor_formatado expense.total_divided %></td>
          <td><%= valor_formatado expense.price %></td>
          <% if expense.paid? %>
            <td id='pay'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
          <% else %>
            <td>&nbsp</td>
          <% end %>
          <td><%= link_to 'Editar', edit_expense_path(expense), method: :get, class: "btn btn-default" %></td>
          <td><%= link_to 'Excluir', expense_delete_path(expense),remote: true, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
     </tbody>
     <tfoot>
       <% @expenses.find do |total| %>
         <tr>
           <td><strong>Totais</strong></td>
           <td>&nbsp</td>
           <td>&nbsp</td>
           <td><strong><%= valor_formatado total.total_pay_divided %></strong></td>
           <td><strong><%= valor_formatado total.total_pay %></strong></td>
           <td>&nbsp</td>
           <td>&nbsp</td>
           <td>&nbsp</td>
         </tr>
       <% end %>
     </tfoot>
  </table>
</div>
