<div class='row'>
  <table class="table">
    <thead>
     <tr>
       <th>#</th>
       <th>Data</th>
       <th>Descrição</th>
       <th>Valor a pagar</th>
       <th>Valor Total</th>
     </tr>
   </thead>
   <tbody>
   <% @expenses.each do |expense| %>
     <tr>
        <td><%= expense.id %></td>
        <td><%= expense.date.strftime('%d/%m/%Y') %></td>
        <td><%= expense.description %></td>
        <td><%= valor_formatado expense.total_divided %></td>
        <td><%= valor_formatado expense.price %></td>
      </tr>
   <% end %>
   </tbody>
  </table>
</div>
