<div class="panel panel-default" align='right'>
  <div class="panel-body">
    <%= button_to 'Adicionar novo recebimento', new_receipt_path,
                                      method: :get, class: "btn btn-success" %>
  </div>
  <div class=" table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Data</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
        <tr>
          <td><%= receipt.date.strftime('%d/%m/%Y') %></td>
          <td><%= receipt.description %></td>
          <td><%= valor_formatado receipt.value %></td>
          <td><%= link_to 'Editar', edit_receipt_path(receipt), class: "btn btn-default" %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <% @receipts.find do |t| %>
          <tr class="success">
            <td><strong>Total</strong></td>
            <td>&nbsp</td>
            <td><strong><%= valor_formatado t.total_receipt %></strong></td>
          </tr>
        <% end %>
      </tfoot>
    </table>
  </div>
</div>
