<!DOCTYPE html>
<html>
<head>
  <title>Tabela Gastos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
       <div class="navbar-header">
         <%= link_to "Controle de Gastos", root_path, {class:"navbar-brand"} %>
       </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Novo Gasto', new_expense_path, method: :get %></li>
        <li><%= link_to 'Recebimentos', receipt_path %></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
