<!DOCTYPE html>
<html>
<head>
  <title>Tabela Gastos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Controle de Gastos</a>
       </div>
      <ul class="nav navbar-nav">
        <%= button_to 'Novo Gasto',
            new_expense_path,
            method: :get,
            class: "btn btn-default navbar-btn" %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
